.social-card {
  max-width: 500px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}

.social-card-reactions {
  li {
    display: inline-block;
    padding: 15px;
  }

  input {
    width: 24px !important;
    height: 24px !important;
    padding-right: 10px;
  }
}